.bundle
db/*.sqlite3
log/*.log
tmp/
node_modules/
node_modules/*
*.db
nbproject/private/private.properties
nbproject/private/private.xml
nbproject/project.xml
nbproject/project.properties
/nbproject/private/
